#pip-button {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  top: -20px;
  opacity: 0;
  left: calc(50% - 20px);
  transition: all .3s;
  cursor: pointer;
  display: grid;
  place-content: center;
  background-color: #020202;
  color: #fff;
}


.pip-parent:hover #pip-button {
  top: 8px;
  opacity: .75;
}